
a[title] {
  position: relative;
}

.dt-button {
    background-color: transparent !important;  /* Remove the fill */
    border-color: #0d6efd !important;  /* Set the primary color border */
    color: #0d6efd !important;  /* Set the primary text color */
}

    /* On hover */
.dt-button:hover {
    background-color: #0d6efd !important;  /* Set the primary background color */
    color: #fff !important;  /* Set the text color to white on hover */
}

.dataTables_wrapper td {
    word-break: break-word;
    hyphens: auto;
}

.scrollable-cell {
    max-height: 200px; /* Set the fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: add border for visibility */
    padding: 5px;
    background: #f9f9f9;
}
.termsfeed-com---palette-light .cc-cp-foot-save {
    background: #0d6efd !important;
    color: #fff;
}

.termsfeed-com---palette-light .cc-nb-okagree {
    color: #fff;
    background-color: #0d6efd !important;
}

.termsfeed-com---palette-light .cc-pc-head-close:focus {
    border: 2px #0d6efd !important;
}